tika
PyPDF2
lxml
config
selenium
pdfkit
beautifulsoup4
requests
cffi==1.14.1
chardet==3.0.4
cryptography==3.0
fpdf==1.7.2
pycparser==2.20
pycryptodome==3.9.8
six==1.15.0
sortedcontainers==2.2.2
xpdf_python==0.0.10
